export(
lyap, 
lyap_k, 
C2, 
mutual, 
plot.ami,
embedd, 
sim.cont, 
lorenz.syst, 
rossler.syst,
duffing.syst, 
stplot, 
d2, 
plot.d2,
print.d2,
recurr,
false.nearest,
print.false.nearest,
plot.false.nearest)

useDynLib(tseriesChaos)
